<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yix.servicepassengeruser.domain.PassengerUser">

    <resultMap id="BaseResultMap" type="com.yix.internalcommon.dto.PassengerUserDTO">
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModifiled" column="gmt_modifiled" jdbcType="TIMESTAMP"/>
            <result property="passengerPhone" column="passenger_phone" jdbcType="VARCHAR"/>
            <result property="passengerName" column="passenger_name" jdbcType="VARCHAR"/>
            <result property="passengerGender" column="passenger_gender" jdbcType="TINYINT"/>
            <result property="state" column="state" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,gmt_create,gmt_modifiled,
        passenger_phone,passenger_name,passenger_gender,
        state
    </sql>
</mapper>
